<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="circle" class="com.SpingCore.SpingDI.Circle">
		<property name="name" value="circle"></property>
	</bean>

	<bean id="triangle" class="com.SpingCore.SpingDI.Triangle">
		<property name="name" value="triangle"></property>
	</bean>

<bean id="drawShape" class="com.SpingCore.SpingDI.DrawShape" scope="prototype"> 
<!-- <property name="shape" ref="triangle"></property> -->
<constructor-arg ref="triangle"></constructor-arg>


</bean>

</beans>